# Cache
__pycache__/
.pytest_cache/
.ruff_cache/

# Tools data
.codex
uv.lock
yuqa.egg-info/
.venv/
main.build/
# script that the execute binary file
main.sh
# binary file of app for Linux 🫶
main.bin
# binary file of app for Windows 👎️
main.exe

# Secrets and data
data/
.env
deploy_on_server.fish